﻿@model MooseShield.Models.ServerGroup

@{
    ViewBag.Title = "Delete Server Group";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Delete Server Group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ServerGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServerGroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TSServerGroupID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TSServerGroupID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
