﻿@model MooseShield.Models.ServerGroup

@{
    ViewBag.Title = "Server Group Details";
}

<div>
    <h4>Server Group Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ServerGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServerGroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TSServerGroupID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TSServerGroupID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ServerGroupID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
