﻿@model IEnumerable<MooseShield.Models.ServerGroup>

@{
    ViewBag.Title = "Server Groups";
}

<h2>Server Groups</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServerGroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TSServerGroupID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ServerGroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TSServerGroupID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ServerGroupID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ServerGroupID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ServerGroupID })
        </td>
    </tr>
}

</table>
