﻿
<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MooseArmy TeamSpeak Authentication</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/chameleonforms-twitterbootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/main.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/icomoon.css" />

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="~/Content/assets/js/html5shiv.js"></script>
      <script src="~/Content/assets/js/respond.min.js"></script>
    <![endif]-->
    @Scripts.Render("~/bundles/jquery")


</head>

<body data-spy="scroll" data-offset="0" data-target="#navbar-main">
@*    <!-- Wrapper starts here -->
    <div id="wrapper">
        <!-- Navigation starts here -->
        <div id="menu_wrap">
            <!-- Menu starts here -->
            <div id="menu">
                <!-- Navbar -->
                <ul id="navbar">
                    @{
                    bool IsSysAdmin = (bool)ViewData["Role"];
                    if (IsSysAdmin)
                    {
                }
                }

                <li class="top_nav">
                    <a id="blog" href="#">System Admin</a>
                    <ul>
                        <li>@Html.ActionLink("Roles", "Index", "Roles")</li>
                        <li>@Html.ActionLink("Permissions", "Index", "Permissions")</li>
                    </ul>
                </li>
                <li class="top_nav">@Html.ActionLink("TS Privileges", "Create", "TeamSpeakUsers")
                    <ul>
                        <li>@Html.ActionLink("List Users", "Index", "TeamSpeakUsers")</li>
                        <li>@Html.ActionLink("Server Groups", "Index", "ServerGroups")</li>
                    </ul>
                </li>
            </ul>
         </div>
    </div>
        <!-- Navigation ends here -->
*@
     
        
            @{ 
                var user = EVE.SingleSignOn.SSOClient.GetCharacter;
            }
       
        <div id="navbar-main">
            <!-- Fixed navbar -->
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon icon-shield" style="font-size:30px; color:#3498db;"></span>
                        </button>
                        <a class="navbar-brand hidden-xs hidden-sm" href="#"><span class="icon icon-shield" style="font-size:18px; color:#3498db;"></span></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="http://moosefed.com">Moose Federation</a></li>
                            @*<li> <a href="#" class="smoothScroll"> Admin</a></li>*@
                            @{

                                if (RBAC_ExtendedMethods.HasRole("Administrator", user))
                                {
                                    <li>@Html.ActionLink("Admin", "Index", "TeamSpeakUsers")</li>
                                }
                            }
                            <li> <a href="http://mps.moosehouseshow.com">MPS</a></li>
                            <li> <a href="https://fleets.moosefed.com">Fleet Tracker</a></li>
                            <li>@Html.ActionLink("Logout", "logout", "Login")</li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <!-- ==== HEADERWRAP ==== -->
        <div id="headerwrap" name="home">
            <header class="clearfix">
                @*<h3 class="section_title">@ViewBag.SectionTitle</h3><!-- This is your section title -->*@
                @RenderBody()
                @*<h1><span class="icon icon-shield"></span></h1>
                <p>A Bootstrap 3 One Page Theme.</p>
                <p>Exclusive for BlackTie.co.</p>*@
            </header>
        </div><!-- /headerwrap -->


        
        @*<div id="footer" class="panel-footer">
            
                <p class="text-center">&copy; @DateTime.Now.Year - MooseArmy</p>
            
        </div>*@
    

    
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    
    @RenderSection("scripts", required: false)
    <!-- Version: @(MooseShield.Core.Utils.VersionHelper.GetVersion()) -->
</body>
</html>
