﻿@model IEnumerable<MooseShield.Models.ServerGroup>

@{
    if (Model == null)
    {
    <h2><font color="red">No Associated Groups...</font></h2>
    <br />
    }
    else
    {
        <div class="table-responsive">
            <table id="ServerGroupTable" class="table table-condensed table-bordered table-hover">
                <tbody>
                    <tr>
                        <th>
                            Server Group ID
                        </th>
                        <th>
                            Server Group
                        </th>
                    </tr>
                    @foreach (var group in Model)
                    {
                        <tr>
                            <td>
                                @group.TSServerGroupID
                            </td>
                            <td>
                                @group.ServerGroupName
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <br />
    }
}

