﻿@model MooseShield.Models.TeamSpeakUser

@{
    ViewBag.Title = "Create";

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="main-form">
        <div class="form-horizontal center-block">
            <p>You must be connected to the server first</p>
            <h4 style="color:white;">New TeamSpeak User</h4>
            <span class="message"> @ViewBag.Message </span>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.UniqueID, htmlAttributes: new { @class = "control-label col-md-2 white-label" }):
                <div class="col-md-8">
                    @Html.EditorFor(model => model.UniqueID, new { htmlAttributes = new { @class = "form-control", placeholder= "Enter your Unique ID (RTFM)" } })
                    @Html.ValidationMessageFor(model => model.UniqueID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 col-md-offset-2">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
            <h4>@Html.ActionLink("Click here for the Fucking Manual", "Instructions", "Home", null, new { @class = "btn btn-danger btn-lg" })</h4>
        </div>
    </div>
}


@*<div class="col-md-4">
            <img src="~/img/MooseFed-TS-Instructions.png" width="490" />
        </div>
    </div>*@


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
