﻿@model MooseShield.Models.TeamSpeakUser

@{
    ViewBag.Title = "TeamSpeak User Details";
}

<div>
    <h4>TeamSpeak User Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UniqueID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UniqueID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServerGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServerGroup)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TeamSpeakUserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
