﻿@model MooseShield.Models.TeamSpeakUser

@{
    ViewBag.Title = "Edit TeamSpeak User";
}




@*<h3 class="white-label">@{ViewBag.SectionTitle = "Edit User";} </h3>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="edit-form">
        <div class="form-horizontal center-block">


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.TeamSpeakUserID)
            <h5 class="white-label">Add the Server Group IDs separated by a comma to give the user more privileges. To remove privileges, simply delete the ID.</h5>
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.CharacterName, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.CharacterName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.CharacterName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UniqueID, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.UniqueID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.UniqueID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ServerGroup, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ServerGroup, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ServerGroup, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-2">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}

<br />
<div style="color: white;">    
    @Html.ActionLink("Back to List", "Index", "TeamSpeakUsers", htmlAttributes: new { @class = "white-label" })
</div>
<div id="ServerGroupsTable">

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            datatype: "text/plain",
            type: "GET",
            url: "/TeamSpeakUsers/ServerGroupListPartial",
            success: function (data) {
                $('#ServerGroupsTable').html(data);
            }
        });
    });
</script>