﻿@model IEnumerable<MooseShield.Models.TeamSpeakUser>

@{
    ViewBag.Title = "TeamSpeak Users";
}

@*<h3>@{ViewBag.SectionTitle = "All Users";}</h3>*@

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<div>
<div class="table-responsive" style="margin: 1em;">
    <table class="table table-hover table-condensed">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CharacterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UniqueID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServerGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharacterOwnerHash)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>

                    @Html.ActionLink(item.CharacterName, "Edit", new { id = item.TeamSpeakUserID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UniqueID)
                </td>
                <td width="10">
                    @Html.DisplayFor(modelItem => item.ServerGroup)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CharacterOwnerHash)
                </td>
                <td>

                    @*@Html.ActionLink("Details", "Details", new { id = item.TeamSpeakUserID }) |*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.TeamSpeakUserID })
                </td>
            </tr>
        }

    </table>
</div>
