﻿@model MooseShield.Models.Role

@{
    ViewBag.Title = "Role Details";
}

<div>
    <h4>Role Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSysAdmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSysAdmin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
