﻿@{
    ViewBag.Title = "Unauthorized Request";
}
<h2 style="color: red;">Error 401 : Unauthorized Request</h2>
<br />
<h4 style="color: white;">
    You do not have permission to access the requested resource due to security restrictions.
    In order to gain access, please speak to your system administrator.
</h4>