﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<link rel="stylesheet" type="text/css" href="~/Content/css/font-awesome.min.css">*@
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://use.fontawesome.com/d0ccdc3514.js"></script>
    <title>Index</title>
</head>
<body id="body-background">
    <div id="container">
        <div class="text-center">

            <div id="header">
                <img src="~/img/not-moose.jpg" alt="Sad Lama; Not Moose" />
            </div>
            <br /><br /><br />
            <div id="body" class="center-block">
                <h4 class="notmoose">Sorry! This site is for Moose Federation personnel only. Fill out an application to join us.</h4>
                <a class="btn btn-primary" href="http://forms.moosehouseshow.com/application/">Apply To MooseArmy</a>
            </div>

        </div>


        <div id="footer" class="panel-footer">
            <p class="text-center">&copy; @DateTime.Now.Year - MooseArmy</p>
        </div>
    </div>
</body>
</html>