﻿@model EVE.SingleSignOn.Models.SSOCharacter
@{
    ViewBag.Title = "About";

    var charOH = Session["_characterKey"];
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>@Html.DisplayNameFor(model => model.CharacterId)</p>
<p> @Html.DisplayFor(model => model.CharacterId)</p>
