﻿@using MooseShield.Core.Utils
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<link rel="stylesheet" type="text/css" href="~/Content/css/font-awesome.min.css">*@
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://use.fontawesome.com/d0ccdc3514.js"></script>
    <title>Moose Federation</title>
</head>
<body id="body-background">
    <div id="container">
        <div class="text-center">
            
                <div id="header">
                    <img src="~/img/MFed_final_transBCKGRND.png" width="400" alt="MooseArmy Logo" />
                </div>
                <br /><br /><br /><br /><br />
                <div id="body" class="center-block">
                    <a class="btn btn-primary" href="http://forms.moosehouseshow.com/application/">Apply To MooseArmy</a>
                    <a class="btn btn-primary" href="/Login/">Login To Services</a>
                </div>
            
        </div>


        <div id="footer" class="panel-footer">
            <p class="text-center">&copy; @DateTime.Now.Year - MooseArmy</p>
        </div>
    </div>
    <!-- Version: @(VersionHelper.GetVersion()) -->
</body>
</html>
