﻿
@{
    ViewBag.Title = "Instructions";
}

<h2 class="white-label">Instructions</h2>

<div class="center-block">
    <h4>@Html.ActionLink("Go Back", "Create", "TeamSpeakUsers")</h4>
</div>
<div class="center-block" style="margin: 2em;">
    <img src="~/img/MooseFed-TS-Instructions.jpg" class="img-responsive" />
</div>