﻿
@{
    ViewBag.Title = "Success";
}



<div class="text-center">
    <h2 style="color: red;">Congratulations</h2>
    <h3 style="color: white;">You've been granted access to the Moose Federation TeamSpeak server!</h3>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />