﻿html,
body {
   margin:0;
   padding:0;
   height:100%;
}
/*#container {
   min-height:100%;
   position:relative;
}*/
#header {
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#body-background {
    background-image: url('../Content/assets/img/6822776-eve-online.jpg');
    /*background-attachment: scroll;
	background-position: center center;*/
    /*-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    background-size: cover;
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
}


body {
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 20em;
}

.main-form {
    margin-top: 9em;
    background: rgba(0,0,0,.5);
    padding: 1em;
    width: 35em;
    display:inline-flex;
    color: white;
}

.edit-form {
    margin-top: 0;
    background: rgba(0,0,0,.5);
    padding: 1em;
    width: 35em;
    display:inline-flex;
    color: white;
    flex-shrink: inherit;
}

.form-horizontal {
    width: 30em;
}

.white-label, .notmoose, a .white-label{
    color: white;
}

table {
    background: rgba(0,0,0,.8);
    max-width: 90em;
    text-align: left;
}

#ServerGroupTable {
    font-size: 13px;
    font-weight: bold;
    max-width: 30em;
    max-height:50em;
    margin: 0 auto;
}

.message {
    color:white;
}